<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="assets/lib//bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
        <h4 class="card-title mb-4">Sign in</h4>
        <form>
            <div class="form-group">
               <input type="email" class="form-control" placeholder="Email Address" >
            </div>

            <div class="form-group mt-2">
              <input type="password" class="form-control" placeholder="Password" >
            </div>
            
            <div class="form-group mt-2">
                <a href="#" class="float-right">Forgot password?</a> 
             
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
            </div>    
        </form>
        </div>
      </div>
  
       <p class="text-center mt-4">Don't have account? <a href="#">Sign up</a></p>
       <br><br> 
</body>
<script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
</html>